.todo-button-row {
   display: table-cell;
   width: 490px;
}

.todo-form-field{
    width: 100%;
    margin-top:0.25rem;
    margin-bottom:0.75rem;
}

.add-todo-item-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
}

.todo-form-full-width {

    width: 100%;
}
